#video-and-stats {
}

@media (min-width: 300px) {
  #video-and-stats {
  }
}

#promo {
}

@media (min-width: 1400px) {
  #promo {
  }
}

@media (min-width: 300px) {
  #promo {
    padding: 15px;
  }
}

#infovideo {
  text-align: center;
}

#infovideo iframe {
  width: 90%;
  height: 400px;
}

@media (min-width: 992px) {
  #hero {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media (min-width: 1200px) {
  #navbar {
    height: 155px;
  }
}

@media (min-width: 1200px) {
  #logo {
    transform: scale(1.67);
    transform-origin: left;
  }
}

